@import "~@/assets/style/base/_fn";

.news-list{

  .list-container{
    margin-top:@gap;

    .card{
      margin-bottom:@gapHSmall;
    }
  }

  .pagination{
    margin-top:20px;
    margin-bottom:60px;

    .page-item.active .page-link{
      border-color:@primary;
      background-color:@primary;
      color:#fff;
    }

    .page-link{
      color:@primary;
    }

  }
}
