@import "~@/assets/style/base/_fn";

.home{
  .row{
    margin:0;
  }
  p{
    margin-bottom: 0;
  }
  .card-body{
    .card-title{
      text-align: center;
    }
  }


  .pannel-wrap{
    width:1000px;
    margin:0 auto;
    padding:10px 0;
  }
  .pannel-title{
    font-size: 26px;
    line-height: 50px;
    p{
      text-align: center;
    }
  }

  //part2
  .about-me-desc{
    p{
      text-align: center;
      line-height: 28px;
    }
  }
  .about-me-list{
    .card{
      margin:0.5rem;
      padding:0;
      border-radius: 0;
      .card-img-top{
        height:200px;
        border-radius: 0;
      }
      .card-body{
        color:#FFF;
        background: #2A2A2A;
        .card-title{
          margin:0;
          line-height:25px;
        }
      }
    }
    .card:first-child .card-body  {
      background: #00aae8;
    }

  }



}
