@import "~@/assets/style/base/_fn";

.home{
  p{
    margin-bottom: 0;
  }
  .pannel-wrap{
    width:1000px;
    margin:0 auto;
    padding:10px 0;
  }
  .pannel-title{
    font-size: 26px;
    line-height: 50px;
    p{
      text-align: center;
    }
  }

  //part2
  .about-me-desc{
    p{
      text-align: center;
      line-height: 28px;
    }
  }
  .about-me-list{

  }



}
