@import "~@/assets/style/base/_fn";

.global-footer{

  .copy-right{
    background:@primary;
    height:80px;
    line-height:80px;
    color:white;

    p{
      padding:0;
      margin:0;
      text-align: center;
    }
  }
}
